/* Information boxes for different chart layouts */
div#anotations {
    width: auto;
    height: auto;
}
/* Initial appearance on load */
div#view-source-type, div#view-party-type, div#view-donor-type, div#view-by-amount-of-donation {
    display: none;  /*text on page load*/
    position: absolute;
}

/* all money */
div#initial-content, #a, #b, #c, #d, #e, #f {
    position: absolute;
}
div#initial-content {
    top: 8em;
    left: 45em;
    width: 500px;
}
#value-scale {
    opacity: 0.5;
    font-size: 0.75em;
}
#a, #b, #c, #d, #e { left: 5.5em; }
#a { top: 635px;}
#b { top: 585px;}
#c { top: 535px;}
#d { top: 485px;}
#e { top: 435px;}
#f { top: 648px; left: 575px; }
/* end of: all money*/

/* Public or private funds view */
div#view-source-type {
    top: 8em;
    left: 45em;
    width: 500px;
}
#public-or-private-money, #public-or-private-money-split, #private-money, #public-money {
    position: absolute;
}
#public-or-private-money {
    max-width: 300px;
}
#public-or-private-money-split {
    left: -600px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
#private-money, #public-money {
    width: 150px;
    height: 125px;
    top: 527px;
}
#private-money { left: 13em; }
#public-money { left: 43em; }
/* end of: Public or private funds view */

/* Party view */
#view-party-type {
    left: 45em;
    width: 272px;
}
#party-type-title,#conservative, #labour, #libdem {
    position: absolute;
    top: 7em;
}
#conservative, #labour, #libdem {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}
#conservative {
    background: rgba(0, 255, 0, 0.7);
    top: 14em;
}
#labour {
    background: rgba(255, 0, 255, 0.7);
    top: 29.5em;
}
#libdem {
    background: rgba(0, 255, 255, 0.7);
    top: 45em;
}
/* end of: Party view */

/* Donor type layout */
#view-donor-type, #individual, #company, #union, #society, #other {
    top: 7.8em;
}
#view-donor-type {
    width: 370px;
    height: 100%;
    left: 33em;
}
#conservative, #labour, #libdem, #individual, #company, #union, #society, #other { 
    position: absolute;
}
#individual, #company, #union {
    left: 0em;
    text-align: left;
}
#individual { top: 70px; }
#company { top: 360px; }
#union { top: 580px; }
#society, #other{
    right: 0em;
    text-align: right;
}
#society { top: 205px; }
#other { top: 470px; }
/* end of: Donor type layout */

/* Split by amount of donation */
div#view-by-amount-of-donation {
    position: absolute;
    text-align: center;
    margin: 0px;
}
div#view-by-amount-of-donation-title {
    position: absolute;
    width: 500px;
    left: 17em;
    top: 7em;
}
div#first-amount-interval, div#second-amount-interval, div#third-amount-interval {
    position: absolute;
    top: 41em;
}
div#first-amount-interval { left: 10em; }
div#second-amount-interval { left: 27em; }
div#third-amount-interval { left: 47em; }
/* end of: Split by amount of donation */
